* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

a,
a:link,
a:hover,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}


abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}


b,
strong {
  font-weight: bolder;
}


sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}


small {
  font-size: 80%;
}


table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  width: 5rem;
  padding: 5px
}

.logo__large {
  width: 15rem;
  margin: 5rem;
}