.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
}

.col-nav__wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}