.nav__wrapper {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.col-nav__wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}